html {
  box-sizing: border-box;
  font-weight: bold;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-size: 2em;
  color: rgb(247, 246, 248);
  padding: 10px;
  margin: auto;
  background: no-repeat url(Assets/dragonball1.png) center center;
  font-weight: bolder;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
}

main div {
  text-align: center;
  margin: 10px;
  width: 500px;
}

img,
button {
  width: 230px;
  height: 230px;
  border-radius: 75%;
  border: 3px solid rgb(190, 1, 227);
}

h1 {
  font-size: 120px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  font-weight: 600px;
  color: transparent;
  letter-spacing: -0.015;
  background-image: linear-gradient(180deg, rgb(254, 5, 5), rgb(251, 255, 0));
  background-clip: text;
  -webkit-background-clip: text;
}

h2 {
  font-size: 80px;
  margin-left: 20px;
  color: rgb(255, 255, 255);
}

h3 {
  font-size: 70px;
}

h4 {
  font-size: 50px;
  color: rgb(255, 255, 255);
}

#button {
  background-color: #d743f8;
  color: white;
  border-radius: 10%;
  font-size: 1.75em;
  cursor: pointer;
}

#resultgame {
  background-color: #d241febb;
  border-radius: 50% 25%;
}
